[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
pyattck = {file = "https://github.com/swimlane/pyattck/archive/master.zip"}
PyYAML = "*"
requests = "*"
pendulum = "*"
pillow = "*"
pyfiglet = "*"

[dev-packages]

[requires]
python_version = "3.9"
